@import '../include';

.App {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-radius: 1em;
	max-width: 1000px;
	min-width: 750px;
	font-family: $mainFont;

	h1 {
		text-align: center;
		color: $mainAccent;
		font-family: 'Roboto Mono', monospace;
	}
}

body {
	background-color: $bgDark;
	color: $light;
}

input {
	background-color: $inputBg;
	border: 1px solid #000000;
	color: $light;
	padding: 3px;
}

textarea {
	background-color: $textareaBg;
	border: 1px solid #000000;
	color: $light;
	padding: 7px;
	height: 10em;
	width: 100%;
	border-radius: 3px;
	font-family: $textareaFont;
	margin-top: 2em;
}
