.KeySection{
    margin: 0 auto;
    display: table;
}

.KeyInputCenter {
    margin: 0 auto;
    display: grid;
}

.rowHeader {
    display: inline-block;
    padding-right: 5px;
}

.rowHeader p {
    font-weight: bold;
    margin: 0;
    text-align: right;
}

.alphabetSection {
    border: 1px solid black;
}
