@import '../include';

.CaesarSection {
    margin: 2px auto;
    display: flex;
    justify-content: center;
    
    label {
        text-align: right;
        padding: 2px 4px;
        color: $mainAccent;
    }

    input {
        margin: 0 2px;
        width: 3em;
    }
}