// Colors
$bgDark: #202225;
$bgLight: #2f3136;
$accent: #43b581;
$light: #d1d4c9;

$textareaBg: $bgLight;
$inputBg: $bgLight;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Source+Code+Pro&display=swap');

$textareaFont: 'Roboto Mono', monospace;
$alphabetDisplayFont: 'Source Code Pro', monospace;
$mainFont: 'Roboto', sans-serif;
