// Colors
$bgDark: #222222;
$bgLight: #045757;
$accent: #719090;
$light: #e4e4e4;

$textareaBg: $bgLight;
$inputBg: $bgLight;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Source+Code+Pro&display=swap');

$textareaFont: 'Roboto Mono', monospace;
$keyDisplayFont: 'Source Code Pro', monospace;
$mainFont: 'Roboto', sans-serif;
