// Colors
// Thanks to Discord for a nice dark theme :)
$bgDark: #202225;
$bgLight: #2f3136;
$light: #d1d4c9;
$darkerText: #6d6d6d;
$mainAccent: #43b581;
$secondAccent: #00b0f4;

$textareaBg: $bgLight;
$inputBg: $bgLight;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Source+Code+Pro&display=swap');

$textareaFont: 'Roboto Mono', monospace;
$alphabetDisplayFont: 'Source Code Pro', monospace;
$mainFont: 'Roboto', sans-serif;
