@import '../include';

.AlphabetDisplay {
    display: flex;
    justify-content: center;
	padding-top: 1em;
	
	p {
		padding: 0 5px;
		margin: 0;
        height: 1.5em;
        font-family: $alphabetDisplayFont;
	}
    
	.AlphabetDisplayHeader {
        margin-right: 5px;
		text-align: right;
        justify-content: center;
        font-weight: bold;
        color: $secondAccent;
	}
    
    .AlphabetDisplayLetter {
        text-align: center;
    }
}
