.MascSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MascSection p {
    /* top right bottom left */
    margin: 2px 10px 4px 0;
    text-align-last: right;
}

.MascSection label {
    padding: 1px 2px;
    display: flex;
    justify-content: center;
}

.MascSection input {
    margin: 0 2px;
    width: 1em;
}

.MascRowHeader {
    color: #ff5722;
}
