@import '../include';

.MascSection {
	display: flex;
	flex-direction: row;
	justify-content: center;

	.header {
		// Copied from .AlphabetDisplayHeader class
        margin-right: 5px;
		text-align: right;
        justify-content: center;
        font-weight: bold;
	}

	p {
		margin: 2px 10px 4px 0;
	}

	.ciphertextLabel {
		color: $mainAccent;
	}

	.plaintextLabel {
		color: $secondAccent;
	}

	label {
		padding: 1px 2px;
		display: flex;
		justify-content: center;
		font-family: $alphabetDisplayFont;
	}

	input {
		margin: 0 2px;
		width: 1em;
		text-align: center;
	}
}
