.KeywordSection{
    margin: 0 auto;
    display: table;
}

.KeywordSection p {
    padding-top: 5px;
}

.KeywordInputCenter {
    margin: 0 auto;
    display: grid;
}

.rowHeader {
    display: inline-block;
    padding-right: 5px;
}

.rowHeader p {
    font-weight: bold;
    margin: 0;
    text-align: right;
    color: #ff5722;
}
