@import '../include';

.KeywordSection {
	margin: 0 auto;
	display: table;
}

.KeywordInputCenter {
	margin: 0 auto;
	display: grid;
}

.alphabetSection {
	display: flex;
	padding-top: 1em;
	
	p {
		padding: 0 5px;
		margin: 0;
		height: 1.5em;
	}
	
	.displayKeyLetter {
		text-align: center;
	}

	.letterRowHeader {
		margin-right: 5px;
		text-align: right;
		justify-content: center;
	}
}
